[DEFAULT]
output_folder = DOWNLOADS/{serie}
output_filename = {title} - {volume}. {subtitle}
image_format = ORIGINAL
image_quality = 100
output_format = BOTH
pause_sec = 0
user_agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:68.0) Gecko/20100101 Firefox/68.0
continue_from_existing = False
authentication_from_cache = True